@import url('https://fonts.googleapis.com/css?family=Merriweather');

@font-face {
	font-family: "Metropolis";
	src: local("Metropolis"),
	local("Metropolis"),
	url(../fonts/Metropolis.otf);
	font-weight: bold;
}

.name {
	font-family: "Metropolis", sans-serif;
}

h1 {
	font-size: 5em;
	font-family: "Metropolis", sans-serif;
	color: #fff;
}

h2 {
	font-family: "Metropolis", sans-serif;
}

p {
	font-family: "Georgia", serif;
}

.intro p {
	color: #fff;
	font-size: 1.25vw;
	font-family: "Merriweather";
}

#coding div h1, #coding div p {
	color: #D90368;
}

#entrepreneurship div h1, #entrepreneurship div p, #entrepreneurship div h2 {
	color: #2CF6B3;
}

p.ent-group {
	border: none;
}

.ent-item, .ent-item a {
	font-family: Merriweather, Serif;
	color: #2CF6B3;
	border: none;
	background-color: transparent;
	font-size: 1.3em;
}
#crypto div h1 {
	top: 43vh;
}
#crypto div h1, #crypto div p {
	color: #0046FF;
}

.block-link {
	color: #0046FF;
	font-size: 1.4em;
	font-family: Merriweather;
}

.block-link:hover {
	color: #0046FF;
}

#infoMenu li a {
	color: #fff;
}

.main-scene {
	padding: 5vw;

}

#connect {
	color: #F2EFEA;
}

.social-icon {
	margin: 30px 30px 0 50px;

}

.social-icon a {
	color: #F2EFEA !important;
}

#mouse {
	position: absolute;
	width: 22px;
	height: 42px;
	bottom: 40px;
	left: 50%;
	color: #FFF;
	cursor: pointer;
}

