/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500|Open+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@font-face {
	font-family: "Metropolis";
	src: local("Metropolis"),
	local("Metropolis"),
	url(../fonts/Metropolis.otf);
	font-weight: bold;
}
/*@font-face {*/
	/*font-family: "Georgia";*/
	/*src: local("Georgia"),*/
	/*local("Georgia"),*/
	/*url(../fonts/Georgia.ttf);*/
	/*font-weight: bold;*/
/*}*/

.name {
	font-family: "Metropolis", sans-serif;
}
h1 {
	font-size: 5em;
	font-family: "Metropolis", sans-serif;
	color: #fff;
}
h2 {
	font-family: "Metropolis", sans-serif;

}

p {
	/* todo find font family */
	font-family: "Georgia", serif;
}

.intro p {
	color: #fff;
	font-size: 1.25vw;
	font-family: "Merriweather";
}

#home {
	padding-left: 15vw;
}

/*.header-link {*/
	/*text-decoration: underline;*/
/*}*/

/*.programmerLink {*/
	/*color: #D90368;*/
/*}*/
/*.entrepreneurLink {*/
	/*color: #2CF6B3;*/
/*}*/
/*.cryptoLink {*/
	/*color: #00FFF2;*/
/*}*/

#coding div h1, #coding div p {
	color: #D90368;
}

#business div h1, #business div p, #business div h2 {
	color: #2CF6B3;
}

#crypto div h1, #crypto div p {
	color: #89DAFF;
}

.jumbotron {
	border: 0;
	border-radius: 1px;
	text-align: center;
	background-color: #fff;
}


#infoMenu li a {
	color: #fff;
}


.main-scene {
	padding: 5vw;

}

#connect {
	color: #F2EFEA;
}
.social-icon {
	margin: 30px 30px 0 50px;

}
.social-icon a {
	color: #F2EFEA !important;
}


#mouse {
	position: absolute;
	width: 22px;
	height: 42px;
	bottom: 40px;
	left: 50%;
	color: #FFF;
	cursor: pointer;
}
